<!-- <app-header></app-header> -->

<div class="container-fluid pt68">
    <div class="row"></div>
    <div class="row">
         <div class="col-10 col-sm-11 col-md-11 col-lg-10 col-xl-10 p-0 m-auto">
            <div class="col-12">
                <div class="add-action mt-2">
                <a href=""> <img src="../../assets/images/add_icon.png" class="icon pe-1" alt="">Add Action</a>
                </div>
            </div>
             <div class="col-12">
                 <div class="row">
                    <div class="wid25">
                    <div class="red">
                        <div style="width: 94%;"><span >High Priority</span></div>
                        <div class="num d-flex">
                            <span class="d-flex align-items-center">6</span>
                            <span class="ps-2">
                                <img src="assets/images/up_dwn.png">
                            </span>
                        </div>
                    </div>

                    <div class="_calc">
                        <div class="card mb10">
                            <div class="card-header trgdt">
                                <div class="ml29">
                                    <span class="_date">Target Date:</span> <span class="_noDate">05.15.22</span>
                                </div>
                                <div class="overdue"><span>Overdue</span></div>
                            </div>
                            <div class="card-body p06rem">
                                    <div class="title">
                                    <h3 class="m-0 b-0">Xtract</h3>
                                    <h4>REVIEW EXPENSES</h4>
                                </div>
                                <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="Profile">
                                            <div>
                                                <span class="assIgn">Assigned to: </span>
                                            </div>
                                            <div class="_Prof">
                                                <div class="">
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                </div>
                                                <div style="line-height: 1;display: grid;">
                                                    <span class="_tiTle">Bob Johnson</span>
                                                    <span class="roLe">Controller</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="Profile">
                                            <div>
                                                <span class="assIgn">Followed by: </span>
                                            </div>
                                                <div class="d-flex">
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row tags">
                                    <span>Tags:</span>
                                    <div class="tag-btn">
                                    <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    </div>
                                    <div class="bdr-btm m-auto my-3"></div>
                                </div>

                                <div class="row d-flex align-items-center">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                    </div>
                                    <div class="col-6 d-flex justify-content-between">
                                            <span><img class="" src="../../assets/images/pin.png"></span>
                                            <span><img class="" src="../../assets/images/chat.png"></span>
                                            <span><img class="" src="../../assets/images/pen.png"></span>
                                            <span><img class="" src="../../assets/images/trash.png"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card mb10">
                            <div class="card-header trgdt">
                                <div class="ml29">
                                    <span class="_date">Target Date:</span> <span class="_noDate">05.15.21</span>
                                </div>
                            </div>
                            <div class="card-body p06rem">
                                <div class="title">
                                    <h3 class="m-0 b-0">Axiom</h3>
                                    <h4>Total Expense</h4>
                                </div>
                                <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="Profile">
                                            <div>
                                                <span class="assIgn">Assigned to: </span>
                                            </div>
                                            <div class="_Prof">
                                                <div class="">
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                </div>
                                                <div style="line-height: 1;display: grid;">
                                                    <span class="_tiTle">Bob Johnson</span>
                                                    <span class="roLe">Controller</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="Profile">
                                            <div>
                                                <span class="assIgn">Followed by: </span>
                                            </div>
                                                <div class="d-flex">
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row tags">
                                    <span>Tags:</span>
                                    <div class="tag-btn">
                                    <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    </div>
                                    <div class="bdr-btm m-auto my-3"></div>
                                </div>

                                <div class="row d-flex align-items-center">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                    </div>
                                    <div class="col-6 d-flex justify-content-between">
                                            <span><img class="" src="../../assets/images/pin.png"></span>
                                            <span><img class="" src="../../assets/images/chat.png"></span>
                                            <span><img class="" src="../../assets/images/pen.png"></span>
                                            <span><img class="" src="../../assets/images/trash.png"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card mb10">
                            <div class="card-header trgdt">
                                <div class="ml29">
                                    <span class="_date">Target Date:</span> <span class="_noDate">05.15.21</span>
                                </div>
                            </div>
                            <div class="card-body p06rem">
                                                                <div class="title">
                                    <h3 class="m-0 b-0">Axiom</h3>
                                    <h4>Total Expense</h4>
                                </div>
                                <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="Profile">
                                            <div>
                                                <span class="assIgn">Assigned to: </span>
                                            </div>
                                            <div class="_Prof">
                                                <div class="">
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                </div>
                                                <div style="line-height: 1;display: grid;">
                                                    <span class="_tiTle">Bob Johnson</span>
                                                    <span class="roLe">Controller</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="Profile">
                                            <div>
                                                <span class="assIgn">Followed by: </span>
                                            </div>
                                                <div class="d-flex">
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row tags">
                                    <span>Tags:</span>
                                    <div class="tag-btn">
                                    <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                    </div>
                                    <div class="bdr-btm m-auto my-3"></div>
                                </div>

                                <div class="row d-flex align-items-center">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                    </div>
                                    <div class="col-6 d-flex justify-content-between">
                                            <span><img class="" src="../../assets/images/pin.png"></span>
                                            <span><img class="" src="../../assets/images/chat.png"></span>
                                            <span><img class="" src="../../assets/images/pen.png"></span>
                                            <span><img class="" src="../../assets/images/trash.png"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="wid25">
                        <div class="blue">
                            <div style="width: 94%;"><span class="ps-1">Medium Priority</span></div>
                            <div class="num d-flex">
                                <span class="d-flex align-items-center">11</span>
                                <span class="ps-2">
                                    <img src="assets/images/dwn_up.png">
                                </span>
                            </div>
                        </div>

                        <div class="med_prio">
                            <button type="button" class="btn btn-primary mt-3">REVIEW MONTH END</button>
                            <button type="button" class="btn btn-primary mt-2">REVIEW BALANCE SHEET</button>
                            <button type="button" class="btn btn-primary mt-2">NEW SALES TRAINING AGENDA</button>
                            <button type="button" class="btn btn-primary mt-2">PARTS INVENTORY</button>
                            <button type="button" class="btn btn-primary mt-2">RECON REVIEW</button>
                            <button type="button" class="btn btn-primary mt-2">SERVICE TRAINING</button>
                            <button type="button" class="btn btn-primary mt-2">F&I PRODUCT REVIEW</button>
                            <button type="button" class="btn btn-primary mt-2">RECONCILIATION  </button>
                            <button type="button" class="btn btn-primary mt-2">VENDOR REVIEW</button>
                            <button type="button" class="btn btn-primary mt-2">RENOVATION TIMELINE</button>
                            <button type="button" class="btn btn-primary mt-2">SERVICE ADVISOR TRAINING</button>
                        </div>


                    </div>
                    <div class="wid25">
                        <div class="orange">
                            <div style="width: 94%;"><span class="ps-1">Low Priority</span></div>
                            <div class="num d-flex">
                                <span class="d-flex align-items-center">3</span>
                                <span class="ps-2">
                                    <img src="assets/images/up_dwn.png">
                                </span>
                            </div>
                        </div>
                        <div class="_calc">
                            <div class="card mb10">
                                <div class="card-header trgdt">
                                    <div class="ml29">
                                        <span class="_date">Target Date:</span> <span class="_noDate">05.15.21</span>
                                    </div>
                                </div>
                                <div class="card-body p06rem">
                                                                    <div class="title">
                                    <h3 class="m-0 b-0">Axiom</h3>
                                    <h4>Total Expense</h4>
                                </div>
                                    <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Assigned to: </span>
                                                </div>
                                                <div class="_Prof">
                                                    <div class="">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                                    <div style="line-height: 1;display: grid;">
                                                        <span class="_tiTle">Bob Johnson</span>
                                                        <span class="roLe">Controller</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Followed by: </span>
                                                </div>
                                                    <div class="d-flex">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row tags">
                                        <span>Tags:</span>
                                        <div class="tag-btn">
                                        <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                        </div>
                                        <div class="bdr-btm m-auto my-3"></div>
                                    </div>

                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                        </div>
                                        <div class="col-6 d-flex justify-content-between">
                                                <span><img class="" src="../../assets/images/pin.png"></span>
                                                <span><img class="" src="../../assets/images/chat.png"></span>
                                                <span><img class="" src="../../assets/images/pen.png"></span>
                                                <span><img class="" src="../../assets/images/trash.png"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card mb10">
                                <div class="card-header trgdt">
                                    <div class="ml29">
                                        <span class="_date">Target Date:</span> <span class="_noDate">05.15.21</span>
                                    </div>
                                </div>
                                <div class="card-body p06rem">
                                                                    <div class="title">
                                    <h3 class="m-0 b-0">Axiom</h3>
                                    <h4>Total Expense</h4>
                                </div>
                                    <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Assigned to: </span>
                                                </div>
                                                <div class="_Prof">
                                                    <div class="">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                                    <div style="line-height: 1;display: grid;">
                                                        <span class="_tiTle">Bob Johnson</span>
                                                        <span class="roLe">Controller</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Followed by: </span>
                                                </div>
                                                    <div class="d-flex">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row tags">
                                        <span>Tags:</span>
                                        <div class="tag-btn">
                                        <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                        </div>
                                        <div class="bdr-btm m-auto my-3"></div>
                                    </div>

                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                        </div>
                                        <div class="col-6 d-flex justify-content-between">
                                                <span><img class="" src="../../assets/images/pin.png"></span>
                                                <span><img class="" src="../../assets/images/chat.png"></span>
                                                <span><img class="" src="../../assets/images/pen.png"></span>
                                                <span><img class="" src="../../assets/images/trash.png"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card mb10">
                                <div class="card-header trgdt">
                                    <div class="ml29">
                                        <span class="_date">Target Date:</span> <span class="_noDate">05.15.21</span>
                                    </div>
                                </div>
                                <div class="card-body p06rem">
                                                                    <div class="title">
                                    <h3 class="m-0 b-0">Axiom</h3>
                                    <h4>Total Expense</h4>
                                </div>
                                    <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Assigned to: </span>
                                                </div>
                                                <div class="_Prof">
                                                    <div class="">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                                    <div style="line-height: 1;display: grid;">
                                                        <span class="_tiTle">Bob Johnson</span>
                                                        <span class="roLe">Controller</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Followed by: </span>
                                                </div>
                                                    <div class="d-flex">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row tags">
                                        <span>Tags:</span>
                                        <div class="tag-btn">
                                        <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                        </div>
                                        <div class="bdr-btm m-auto my-3"></div>
                                    </div>

                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                        </div>
                                        <div class="col-6 d-flex justify-content-between">
                                                <span><img class="" src="../../assets/images/pin.png"></span>
                                                <span><img class="" src="../../assets/images/chat.png"></span>
                                                <span><img class="" src="../../assets/images/pen.png"></span>
                                                <span><img class="" src="../../assets/images/trash.png"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wid25">
                        <div class="green">
                            <div style="width: 94%;"><span class="ps-1">Completed</span></div>
                            <div class="num d-flex">
                                <span class="d-flex align-items-center">14</span>
                                <span class="ps-2">
                                    <img src="assets/images/dwn_up.png">
                                </span>
                            </div>
                        </div>
                        <div class="_calc">
                            <div class="card mb10">
                                <div class="card-header trgdt">
                                    <div class="ml29">
                                        <span class="_date">Target Date:</span> <span class="_noDate">05.15.21</span>
                                    </div>
                                </div>
                                <div class="card-body p06rem">
                                                                    <div class="title">
                                    <h3 class="m-0 b-0">Axiom</h3>
                                    <h4>Total Expense</h4>
                                </div>
                                    <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Assigned to: </span>
                                                </div>
                                                <div class="_Prof">
                                                    <div class="">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                                    <div style="line-height: 1;display: grid;">
                                                        <span class="_tiTle">Bob Johnson</span>
                                                        <span class="roLe">Controller</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Followed by: </span>
                                                </div>
                                                    <div class="d-flex">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row tags">
                                        <span>Tags:</span>
                                        <div class="tag-btn">
                                        <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                        </div>
                                        <div class="bdr-btm m-auto my-3"></div>
                                    </div>

                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                        </div>
                                        <div class="col-6 d-flex justify-content-between">
                                                <span><img class="" src="../../assets/images/pin.png"></span>
                                                <span><img class="" src="../../assets/images/chat.png"></span>
                                                <span><img class="" src="../../assets/images/pen.png"></span>
                                                <span><img class="" src="../../assets/images/trash.png"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card mb10">
                                <div class="card-header trgdt">
                                    <div class="ml29">
                                        <span class="_date">Target Date:</span> <span class="_noDate">05.15.21</span>
                                    </div>
                                </div>
                                <div class="card-body p06rem">
                                                                    <div class="title">
                                    <h3 class="m-0 b-0">Axiom</h3>
                                    <h4>Total Expense</h4>
                                </div>
                                    <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Assigned to: </span>
                                                </div>
                                                <div class="_Prof">
                                                    <div class="">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                                    <div style="line-height: 1;display: grid;">
                                                        <span class="_tiTle">Bob Johnson</span>
                                                        <span class="roLe">Controller</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Followed by: </span>
                                                </div>
                                                    <div class="d-flex">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row tags">
                                        <span>Tags:</span>
                                        <div class="tag-btn">
                                        <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                        </div>
                                        <div class="bdr-btm m-auto my-3"></div>
                                    </div>

                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                        </div>
                                        <div class="col-6 d-flex justify-content-between">
                                                <span><img class="" src="../../assets/images/pin.png"></span>
                                                <span><img class="" src="../../assets/images/chat.png"></span>
                                                <span><img class="" src="../../assets/images/pen.png"></span>
                                                <span><img class="" src="../../assets/images/trash.png"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card mb10">
                                <div class="card-header trgdt">
                                    <div class="ml29">
                                        <span class="_date">Target Date:</span> <span class="_noDate">05.15.21</span>
                                    </div>
                                </div>
                                <div class="card-body p06rem">
                                                                    <div class="title">
                                    <h3 class="m-0 b-0">Axiom</h3>
                                    <h4>Total Expense</h4>
                                </div>
                                    <p class="card-text _text pb-2 px-0">Lorem ipsum dolor sit amet, conse ctetur adip iscing elit, sed do eiusmod tempor incididunt ut lab</p>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Assigned to: </span>
                                                </div>
                                                <div class="_Prof">
                                                    <div class="">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                                    <div style="line-height: 1;display: grid;">
                                                        <span class="_tiTle">Bob Johnson</span>
                                                        <span class="roLe">Controller</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="Profile">
                                                <div>
                                                    <span class="assIgn">Followed by: </span>
                                                </div>
                                                    <div class="d-flex">
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                        <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row tags">
                                        <span>Tags:</span>
                                        <div class="tag-btn">
                                        <button type="button" class="btn btn-primary grp-sml-btn">New</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">Stock Number</button>
                                        <button type="button" class="btn btn-primary grp-sml-btn">F&I Manager</button>
                                        </div>
                                        <div class="bdr-btm m-auto my-3"></div>
                                    </div>

                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                                        </div>
                                        <div class="col-6 d-flex justify-content-between">
                                                <span><img class="" src="../../assets/images/pin.png"></span>
                                                <span><img class="" src="../../assets/images/chat.png"></span>
                                                <span><img class="" src="../../assets/images/pen.png"></span>
                                                <span><img class="" src="../../assets/images/trash.png"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
    </div>
</div>
