<!---------------------------------------------------- ACTION MODULES ----------------------------------------------------->

<div class="container-fluid d-flex justify-content-center align-items-center" style="background-color: rgb(117, 117, 117);height: 100vh;">
    <div class="action-modules-popup">
        <div class="header d-flex align-items-center">
            <h5 class="title m-0 ms-2">
                <img src="" alt=""> <span class="slash">//</span>ACTION MODULES
            </h5>
            <a href="" type="button" class="close-btn ms-auto me-2"><i class="fa-solid fa-xmark"></i> </a>
        </div>
        <div class="body">
    
            <div class="col-7 m-auto mb-5">
                <button type="button" class="btn act-btn blue w-100">All Modules</button>
                <button type="button" class="btn act-btn w-100">Xtact</button>
                <button type="button" class="btn act-btn w-100">Deal Trax</button>
                <button type="button" class="btn act-btn w-100">Xiom</button>
                <button type="button" class="btn act-btn w-100">Xchange</button>
                <button type="button" class="btn act-btn w-100">Touch Express</button>
                <button type="button" class="btn act-btn w-100">Service MaX</button>
            </div>
    
    
            <div class="footer p-3 mb-2">
                <div class="text-center d-flex align-items-center px-4">
                    <button type="button" class="btn btn-save">Save</button>
                    <h3 class="m-0 cancel-txt ms-auto"><a href="#">Cancel</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------- ACTION FILTERS ----------------------------------------------------->

<div class="container-fluid d-flex justify-content-center align-items-center" style="background-color: rgb(117, 117, 117);height: 100vh;">
<div class="action-filters-popup">
    <div class="header d-flex align-items-center">
        <h5 class="title m-0 ms-2">
            <img src="" alt=""> <span class="slash">//</span>ACTION FILTERS
        </h5>
        <a href="" type="button" class="close-btn ms-auto me-2"><i class="fa-solid fa-xmark"></i> </a>
    </div>
    <div class="body">

        <div class="col-7 m-auto mb-1">
            <button type="button" class="btn act-btn w-100">Stores(S)</button>
            <button type="button" class="btn act-btn w-100">Assigned To</button>
            <button type="button" class="btn act-btn w-100">Status</button>
            <button type="button" class="btn act-btn w-100">Due Date</button>
            <button type="button" class="btn act-btn w-100">Priority</button>
            <button type="button" class="btn act-btn w-100">Followers</button>
            <button type="button" class="btn act-btn blue w-100">Tags</button>
        </div>
        <div class="col-7 m-auto tags">
            <div class="">
                <div class="d-flex">
                    <button type="button" class="btn act-btn-sml  w-100">New</button>
                    <button type="button" class="btn act-btn-sml  w-100">Used</button>
                    <button type="button" class="btn act-btn-sml blue  w-100">CPO</button>
                </div>

                <button type="button" class="btn act-btn-sml w-50">Sales</button>
                <button type="button" class="btn act-btn-sml blue w-50">F&I Manager</button>
                <button type="button" class="btn act-btn-sml w-50">RO Number</button>
                <button type="button" class="btn act-btn-sml blue w-50">Sales Manager</button>
                <button type="button" class="btn act-btn-sml blue w-50">Dealership GM</button>
                <button type="button" class="btn act-btn-sml w-50">Service Manager Manager</button>
                <button type="button" class="btn act-btn-sml w-50">Service Advisor</button>
                <button type="button" class="btn act-btn-sml w-50">Service CIT</button>
            </div>
        </div>


        <div class="footer p-3 mb-2">
            <div class="text-center d-flex align-items-center px-4">
                <button type="button" class="btn btn-save">Save</button>
                <h3 class="m-0 cancel-txt ms-auto"><a href="#">Cancel</a></h3>
            </div>
        </div>
    </div>
</div>
</div>

<!---------------------------------------------------- ACTION FILTERS FULL  ----------------------------------------------------->

<div class="container-fluid d-flex justify-content-center align-items-center" style="background-color: rgb(117, 117, 117);height: 100vh;">
    <div class="act-fltr-full-popup">
        <div class="header d-flex align-items-center">
            <h5 class="title m-0 ms-2">
                <img src="" alt=""> <span class="slash">//</span>ACTION FILTERS
            </h5>
            <a href="" type="button" class="close-btn ms-auto me-2"><i class="fa-solid fa-xmark"></i> </a>
        </div>
        <div class="body py-3 px-5">

        <div class="row">
            <div class="w-25">
                <div class="col-10 m-auto">
                <button type="button" class="btn act-btn w-100 blue">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn w-100">Tags</button>
            </div>
            </div>
            
            <div class="w-75 ryt-tab">
                <div class="tab-head d-flex">
                <div class="w-30"><button type="button" class="btn act-btn w-100">Easter Region</button></div>
                <div class="w-30"><button type="button" class="btn act-btn w-100 blue">Wester Region</button></div>
                <div class="w-30"><button type="button" class="btn act-btn w-100">Northern Region</button></div>
                <div class="w-30"><button type="button" class="btn act-btn w-100">Southern Region</button></div>
                <div class="w-30"><button type="button" class="btn act-btn w-100">Easter Region</button></div>
                <div class="w-30"><button type="button" class="btn act-btn w-100">Wester Region</button></div>
                <div class="w-30"><button type="button" class="btn act-btn w-100">Northern Region</button></div>
                <div class="w-30"><button type="button" class="btn act-btn w-100">Southern Region</button></div>
                </div>

                <div class="d-flex">
                <div class="w-30" style="height: 400px;overflow:auto;">
                <button type="button" class="btn act-btn w-100">Easter Region</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                </div>

                <div class="w-30" style="height: 400px;overflow:auto;">
                <button type="button" class="btn act-btn blue w-100">Easter Region</button>
                <button type="button" class="btn act-btn blue w-100">Stores(S)</button>
                <button type="button" class="btn act-btn blue w-100">Assigned To</button>
                <button type="button" class="btn act-btn blue w-100">Status</button>
                <button type="button" class="btn act-btn blue w-100">Due Date</button>
                <button type="button" class="btn act-btn blue w-100">Priority</button>
                <button type="button" class="btn act-btn blue w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                <button type="button" class="btn act-btn blue w-100">Stores(S)</button>
                <button type="button" class="btn act-btn blue w-100">Assigned To</button>
                <button type="button" class="btn act-btn blue w-100">Status</button>
                <button type="button" class="btn act-btn blue w-100">Due Date</button>
                <button type="button" class="btn act-btn blue w-100">Priority</button>
                <button type="button" class="btn act-btn blue w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                </div>
                <div class="w-30" style="height: 400px;overflow:auto;">
                <button type="button" class="btn act-btn w-100">Easter Region</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn blue w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn blue w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn blue w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                </div>

                <div class="w-30" style="height: 400px;overflow:auto;">
                <button type="button" class="btn act-btn w-100">Easter Region</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                </div>

                <div class="w-30" style="height: 400px;overflow:auto;">
                <button type="button" class="btn act-btn w-100">Easter Region</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                </div>

                <div class="w-30" style="height: 400px;overflow:auto;">
                <button type="button" class="btn act-btn w-100">Easter Region</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                </div>
                <div class="w-30" style="height: 400px;overflow:auto;">
                <button type="button" class="btn act-btn w-100">Easter Region</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                </div>

                <div class="w-30" style="height: 400px;overflow:auto;">
                <button type="button" class="btn act-btn w-100">Easter Region</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                <button type="button" class="btn act-btn w-100">Stores(S)</button>
                <button type="button" class="btn act-btn w-100">Assigned To</button>
                <button type="button" class="btn act-btn w-100">Status</button>
                <button type="button" class="btn act-btn w-100">Due Date</button>
                <button type="button" class="btn act-btn w-100">Priority</button>
                <button type="button" class="btn act-btn w-100">Followers</button>
                <button type="button" class="btn act-btn blue w-100">Tags</button>
                </div>                
            </div>
        </div>
    </div>

        </div>
        <div class="footer">
            <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-1">Save to Favourites</button>
                <button type="button" class="btn btn-primary green-btn ms-1">Save</button>
                <a href="#" class="cancel-txt">Cancel</a>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------- CREATE ACTION ----------------------------------------------------->

<div class="container-fluid d-flex justify-content-center align-items-center" style="background-color: rgb(117, 117, 117);height: 100vh;">
    <div class="create-action">
        <div class="header">
            <div class="row">
                <div class="d-flex mb-2">
                    <h5 class="title m-0 ms-2"><img src="" alt=""> <span class="slash">//</span> Create Action</h5>
                    <a href="" type="button" class="close-btn ms-auto me-2"><i class="fa-solid fa-xmark "></i> </a>
                </div>
            </div>

            <div class="row">
                <div class="d-flex align-items-center profile mb-1">
                    <img class="prof-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" alt="">
                    <div class="mt-1 ps-1">
                        <h6 class="m-0 p-0">Assigned to:</h6>
                        <h5 class="m-0 p-0 d-flex align-items-center">Kevin Murphy <img src="../../assets/images/edit_iconblue.png" class="icon ms-1" alt=""></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="body ps-3 py-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8 pe-4">
                        <div class="action-group">
                            <div class="col-12 d-flex align-items-baseline">
                                <div class="dropdown w-100">
                                    <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Select Module
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Module A</a>
                                        <a class="dropdown-item" href="#">Module B</a>
                                        <a class="dropdown-item" href="#">Module C</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group action-group">
                                    <input type="name" class="form-control w-100" id="title" placeholder="Action Name">
                                </div>
                            </div>

                            <div class="col-12">
                                <textarea class="form-control text-area" id="exampleFormControlTextarea1" rows="6"
                                    placeholder="Add Action Description..."></textarea>
                            </div>

                            <div class="col-4 mt-4 attachment">
                                <h5 class="m-0">Attachments</h5>
                                <h6 class="mt-2">
                                   <a href=""> <img src="../../assets/images/add_icon.png" class="icon pe-1" alt="">Add attachment</a>
                                </h6>
                                <div class="h-50">
                                    &nbsp;
                                </div>
                            </div>
                        </div>

                        <div class="col-10 mt-2 mb-5">
                            <div class="d-flex align-items-center task mb-1">
                                <img src="../../assets/images/Action.png" alt="">
                                <div class="mt-1 ps-2">
                                    <h6 class="m-0 p-0">2 days ago</h6>
                                    <h5 class="m-0 p-0">Chris Tivey <span> created the task</span></h5>
                                </div>
                            </div>

                            <div class="col-9 mt-4 save-btn">
                                <button type="button" class="btn btn-success w-100">Save</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-4 m-0 p-0 bdr-lft">
                        <div>
                            <div class="d-flex align-items-center p-3 m-0 action-dd">
                                <h5 class="m-0 p-0 d-flex align-items-center">
                                    <img src="../../assets/images/status_icon.png" class="icon pe-2" alt=""> Status
                                </h5>

                                <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                                <div class="status-popup p-4">
                                    <h6>Working On It</h6>
                                    <h6>Just Started</h6>
                                    <h6>50% COmplete</h6>
                                    <h6>Almost Done</h6>
                                    <h6>Custom</h6>
                                    <div class="form-group">
                                        <input type="name" class="form-control w-100" id="title"
                                            placeholder="Action Name">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div>
                            <div class="d-flex align-items-center p-3 m-0 action-dd">
                                <h5 class="m-0 p-0 d-flex align-items-center">
                                    <img src="../../assets/images/date_icon.png" class="icon pe-2" alt=""> Due Date
                                </h5>

                                <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                            </div>
                        </div>

                        <div>
                            <div class="d-flex align-items-center p-3 m-0 action-dd">
                                    <h5 class="m-0 p-0 d-flex align-items-center">
                                        <img src="../../assets/images/priority_icon.png" class="icon pe-2" alt=""> Priority
                                    </h5>

                                <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                            </div>
                        </div>


                        <div>
                            <div class="d-flex align-items-center p-3 m-0 action-dd">
                                <h5 class="m-0 p-0 d-flex align-items-center">
                                    <img src="../../assets/images/tags_icon.png" class="icon pe-2" alt=""> Tags
                                </h5>

                                <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                            </div>
                        </div>


                        <div>
                            <div class="d-flex align-items-center p-3 m-0 action-dd">
                                <h5 class="m-0 p-0 d-flex align-items-center">
                                    <img src="../../assets/images/followers_icon.png" class="icon pe-2" alt=""> Followers
                                </h5>

                                <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                            </div>
                        </div>

                        <div class="p-3">
                            <h4 class="m-0 p-0">F&I Product Report</h4>
                            <a href="" class="m-0 p-0 text-decoration-none">OPEN</a>
                        </div>

                        <div class="d-flex align-items-center task px-3">
                            <img src="../../assets/images/Action.png" alt="">
                            <div class="ps-2 mt-1">
                                <h6 class="m-0 p-0">june 14, 2022</h6>
                                <h5 class="m-0 p-0"><span>Ceated by </span>Chris Tivey</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------- ACTION SUMMARY ----------------------------------------------------->

<div class="container-fluid d-flex justify-content-center align-items-center" style="background-color: rgb(117, 117, 117);height: 100vh;">
    <div class="action-summary">
        <div class="header">
            <div class="row">
                <div class="d-flex mb-2">
                    <h5 class="title m-0 ms-2"><img src="" alt="">  <span class="slash">//</span>Action Summary</h5>
                    <a href="" type="button" class="close-btn ms-auto me-2"><i class="fa-solid fa-xmark"></i> </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-6 d-flex align-items-center profile mb-1 ">
                    <img class="prof-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" alt="">
                    <div class="mt-1 ps-1">
                        <h6 class="m-0 p-0">Assigned to:</h6>
                        <h5 class="m-0 p-0 d-flex align-items-center">Kevin Murphy <img src="../../assets/images/edit_iconblue.png" class="icon ms-1" alt=""></h5>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end">
                    <button type="button" class="btn btn-primary grp-mark-btn">Mark as complete</button>
                </div>
            </div>
        </div>
        <div class="body ps-3 py-0">
        <div class="container-fluid">
            <div class="row">
            <div class="col-8 pe-4">
                <div class="finance mt-4 px-3">
                <div class="d-flex justify-content-between">
                    <h6>Xtract</h6>
                    <img src="../../assets/images/edit_iconblue.png" class="icon-pen" alt="">
                </div>
                
                <div class="mt-2 mb-5">
                    <h5 >F&I Product Report</h5>
                    <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores molestias doloremque quibusdam! Alias illum
                        neque nostrum facere, corrupti non fuga unde culpa ipsa! Veniam, autem architecto perferendis quod cum fugit
                        consectetur tempora accusamus sint quas voluptate non optio in. Cupiditate in velit nostrum! Hic, sit? Totam
                        veritatis sequi itaque commodi.</p>
                </div>
                

                <div class="col-4 mt-4 attachment">
                    <h5 class="m-0">Attachments</h5>
                    <div class="h-50"> &nbsp;</div>
                    <h6 class="mb-4">
                       <a href=""> <img src="../../assets/images/add_icon.png" class="icon pe-1" alt="">Add attachment</a>
                    </h6>

                </div>
            </div>

                <div class="mt-0 px-3">
                    <div class="d-flex align-items-center task mb-1">
                        <img src="../../assets/images/edit_fullicon.png" alt="">
                        <div class="mt-1 ps-2">
                        <h6 class="m-0 p-0">2 days ago</h6>
                        <h5 class="m-0 p-0">Chris Tivey <span> created the task</span></h5>
                     </div> 
                     </div>

                        <div class="col-9 mt-4 save-btn">
                            <button type="button" class="btn btn-success w-100">Save</button>
                        </div>
                </div>

            </div>
            <div class="col-4 bdr-lft m-0 p-0">
                <div>
                    <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd">
                        <img src="../../assets/images/status_icon.png" class="icon pe-2" alt="">
                    <div class="d-flex flex-column">
                    <h5 class="m-0 p-0 d-flex align-items-center">Status</h5>
                    <h6 class="m-0 p-0">Open:<span class="ps-1">25% Complete</span></h6>
                    </div>

                    <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                    </div>
                </div>


                <div>
                    <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd">
                        <img src="../../assets/images/date_icon.png" class="icon pe-2" alt=""> 
                    <div class="d-flex flex-column">
                        <h5 class="m-0 p-0 d-flex align-items-center"> Due Date</h5>
                        <h6 class="m-0 p-0">Open:<span class="ps-1">Aug 31, 2022</span></h6>
                    </div>
                    <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                    </div>
                </div>

                <div>
                    <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd">
                        <img src="../../assets/images/priority_icon.png" class="icon pe-2" alt="">
                    <div class="d-flex flex-column">
                        <h5 class="m-0 p-0 d-flex align-items-center"> Priority</h5>
                        <button type="button" class="btn btn-primary sml-btn red">High Priority</button>
                    </div>
                    <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>

                    <div class="gyr-popup p-4 d-flex flex-column">
                        <button type="button" class="btn btn-primary sml-btn green">Low</button>
                        <button type="button" class="btn btn-primary sml-btn yellow">Medium</button>
                        <button type="button" class="btn btn-primary sml-btn red">High</button>
                    </div>
                    </div>
                </div>


                <div>
                    <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd">
                        <img src="../../assets/images/tags_icon.png" class="icon pe-2" alt="">
                    <div class="d-flex flex-column">
                        <h5 class="m-0 p-0 d-flex align-items-center"> Tags</h5>
                        <div class="ovr-flw">
                        <button type="button" class="btn btn-primary sml-btn">New</button>
                        <button type="button" class="btn btn-primary sml-btn">Stock Number</button>
                        <button type="button" class="btn btn-primary sml-btn">F&I Manager</button>
                        </div>
                    </div>
                    <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                    </div>
                </div>


                <div>
                    <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd">
                        <img src="../../assets/images/followers_icon.png" class="icon pe-2" alt="">
                    <div class="d-flex flex-column">
                        <h5 class="m-0 p-0 d-flex align-items-center"> Followers</h5>
                        <div class="d-flex">
                            <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                            <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                            <span><img class="contact-img" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"></span>
                        </div>
                    </div>
                    <div class="ms-auto"><i class="fa-sharp fa-solid fa-chevron-down"></i></div>
                    </div>
                </div>


                <div class="p-3" >
                    <h4 class="m-0 p-0">F&I Product Report</h4>
                    <a href="" class="m-0 p-0 text-decoration-none">OPEN</a>
                </div>

                <div class="d-flex align-items-center task px-3">
                    <img src="../../assets/images/edit_fullicon.png" alt="">
                    <div class="ps-2 mt-1">
                        <h6 class="m-0 p-0">june 14, 2022</h6>
                        <h5 class="m-0 p-0"><span>Ceated by </span>Chris Tivey</h5>
                    </div> 
                </div>

                <div class="d-flex align-items-center task px-3 mt-3 mb-5">
                    <img src="../../assets/images/edit_icon.png" alt="">
                    <div class="ps-2 mt-1">
                        <h6 class="m-0 p-0">june 14, 2022</h6>
                        <h5 class="m-0 p-0"><span>updated by </span>Chris Tivey</h5>
                    </div> 
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>

<!---------------------------------------------------- ASSIGN ACTION ----------------------------------------------------->

<div class="container-fluid d-flex justify-content-center align-items-center" style="background-color: rgb(117, 117, 117);height: 100vh;">
    <div class="assign-action">
        <div class="header pt-3 pe-5 ">
            <div class="row ">
                <div class="col-3"><h5 class="title m-0 ms-2"><img src="" alt=""> <span class="slash">//</span> ASSIGN ACTION</h5></div>
                <div class="col-9 d-flex justify-content-between align-items-center">
                    <div class="dropdown w-100">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Group
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Depatment A</a>
                        <a class="dropdown-item" href="#">Depatment B</a>
                        <a class="dropdown-item" href="#">Depatment C</a>
                    </div>
                    </div>
                    <div class="dropdown w-100">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Western Honda
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Depatment A</a>
                        <a class="dropdown-item" href="#">Depatment B</a>
                        <a class="dropdown-item" href="#">Depatment C</a>
                    </div>
                    </div>
                    <div class="dropdown w-100 me-2">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Depatment A</a>
                        <a class="dropdown-item" href="#">Depatment B</a>
                        <a class="dropdown-item" href="#">Depatment C</a>
                    </div>
                    </div>

                    <!-- <div class="">
                        <input type="text" placeholder="search" class="search_bar">
                    </div> -->

                    <div class="inp_search">
                        <form>
                            <input type="search_bar" placeholder="Search...">
                            <button type="submit">Search</button>
                          </form>
                    </div>
            </div>
            </div>

            <div class="row list_page py-3 px-2">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <div>
                        <span class="badge rounded-pill bg-primary">All</span>
                    </div>
                    <a href="">A</a>
                    <a href="">B</a>
                    <a href="">C</a>
                    <a href="">D</a>
                    <a href="">E</a>
                    <a href="">F</a>
                    <a href="">G</a>
                    <a href="">H</a>
                    <a href="">I</a>
                    <a href="">J</a>
                    <a href="">L</a>
                    <a href="">M</a>
                    <a href="">N</a>
                    <a href="">O</a>
                    <a href="">P</a>
                    <a href="">Q</a>
                    <a href="">R</a>
                    <a href="">S</a>
                    <a href="">T</a>
                    <a href="">U</a>
                    <a href="">V</a>
                    <a href="">W</a>
                    <a href="">X</a>
                    <a href="">Y</a>
                    <a href="">Z</a>
                    <a href="">#</a>
                </div>
            </div>
        </div>
        <div class="body ps-3 py-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="assign-act-tbl table-responsive mb-4">
                                    <table>
                                        <thead>
                                            <tr>
                                            <th colspan="2">User</th>
                                            <th>Title</th>
                                            <th>Store</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="">
                                                    <div class="round ">
                                                        <input class="" type="checkbox" checked id="checkbox1" />
                                                        <label for="checkbox1"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Bob Johnson</td>
                                                <td>General Manager</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox2" />
                                                        <label for="checkbox2"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Kevin Murphy</td>
                                                <td>Controller</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox3" />
                                                        <label for="checkbox3"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Mitch MArner</td>
                                                <td>Sales Associate</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox4" />
                                                        <label for="checkbox4"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>William Nylande</td>
                                                <td>F&I Manager</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox5" />
                                                        <label for="checkbox5"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Bob Johnson</td>
                                                <td>General Manager</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox6" />
                                                        <label for="checkbox6"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Kevin Murphy</td>
                                                <td>Controller</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox7" />
                                                        <label for="checkbox7"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Mitch MArner</td>
                                                <td>Sales Associate</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox8" />
                                                        <label for="checkbox8"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>William Nylande</td>
                                                <td>F&I Manager</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox9" />
                                                        <label for="checkbox9"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Bob Johnson</td>
                                                <td>General Manager</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox11" />
                                                        <label for="checkbox11"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Kevin Murphy</td>
                                                <td>Controller</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox12" />
                                                        <label for="checkbox12"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Mitch MArner</td>
                                                <td>Sales Associate</td>
                                                <td>Western Honda</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round">
                                                        <input type="checkbox" checked id="checkbox13" />
                                                        <label for="checkbox13"></label>
                                                      </div>
                                                </td>
                                                <td><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>William Nylande</td>
                                                <td>F&I Manager</td>
                                                <td>Western Honda</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div class="col-3 pe-4 assign-ryt">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h5 class="">Assign Action to:</h5>
                        <h6 class="m-0 p-0 mt-2"><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Angela Cokely</h6>
                        <h6 class="m-0 p-0 mt-2"><span><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar me-1"></span>Kevin Murphy</h6>
                    </div>

                    <div class="save-btn">
                        <button type="button" class="btn btn-success w-100">Assign Action</button>
                        <a href="">Cancel</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column align-items-center">

    <div class="status-popup p-4">
        <h6>Working On It</h6>
        <h6>Just Started</h6>
        <h6>50% COmplete</h6>
        <h6>Almost Done</h6>
        <h6>Custom</h6>
        <div class="form-group">
            <input type="name" class="form-control w-100" id="title" placeholder="Action Name">
        </div>
    </div>
    
     <div class="gyr-popup p-4 d-flex flex-column">
            <button type="button" class="btn btn-primary sml-btn red">Low</button>
            <button type="button" class="btn btn-primary sml-btn green">Medium</button>
            <button type="button" class="btn btn-primary sml-btn yellow">High</button>
     </div>


</div>    